config UART_IPC
	bool
	default n
	select SERIAL
    	select UART_ASYNC_API
	help
		Enable support for IPC over UART.

config UART_IPC_STACK_SIZE
	int "UART IPC stack size"
	default 1024
	depends on UART_IPC
	help
		Adjust stack size

config UART_IPC_MEMSLAB_COUNT
	int "UART IPC memslab size"
	default 3
	depends on UART_IPC
	help
		Adjust memslab size

config UART_IPC_DMA_BUF_SIZE
	int "UART IPC DMA RX buffers size"
	default 64
	depends on UART_IPC
	help
		Adjust DMA RX buffer size 

config UART_IPC_DEBUG_GPIO
	bool "UART IPC debug GPIO"
	default false
	depends on SOC_SERIES_STM32F4X
	select USE_STM32_HAL_GPIO
	depends on UART_IPC
	help
		Enable debugging using GPIO pins

choice UART_IPC_DIR
	prompt "UART IPC direction"
	
config UART_IPC_RX
	bool "Enable RX"
	select UART_IPC
	help
		Enable RX support

config UART_IPC_TX
	bool "Enable TX"
	select UART_IPC
	help
		Enable TX support

config UART_IPC_FULL
	bool "Enable RX AND TX"
	select POLL
	select UART_IPC
	help
		Enable RX and TX support

endchoice